################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/UnityEngine.UI.Player.csproj
/UnityEngine.UI.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.TestRunner.csproj
/Unity.VSCode.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VisualScripting.State.Player.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Flow.Player.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Core.Player.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Core.csproj
/Unity.Timeline.Player.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.csproj
/Unity.TextMeshPro.Player.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj
/Unity.TestTools.CodeCoverage.Editor.csproj
/Unity.Settings.Editor.csproj
/Unity.Services.Core.Threading.Player.csproj
/Unity.Services.Core.Threading.csproj
/Unity.Services.Core.Telemetry.Player.csproj
/Unity.Services.Core.Telemetry.csproj
/Unity.Services.Core.Scheduler.Player.csproj
/Unity.Services.Core.Scheduler.csproj
/Unity.Services.Core.Registration.Player.csproj
/Unity.Services.Core.Registration.csproj
/Unity.Services.Core.Player.csproj
/Unity.Services.Core.Networking.Player.csproj
/Unity.Services.Core.Networking.csproj
/Unity.Services.Core.Internal.Player.csproj
/Unity.Services.Core.Internal.csproj
/Unity.Services.Core.Environments.Player.csproj
/Unity.Services.Core.Environments.Internal.Player.csproj
/Unity.Services.Core.Environments.Internal.csproj
/Unity.Services.Core.Environments.csproj
/Unity.Services.Core.Editor.csproj
/Unity.Services.Core.Device.Player.csproj
/Unity.Services.Core.Device.csproj
/Unity.Services.Core.csproj
/Unity.Services.Core.Configuration.Player.csproj
/Unity.Services.Core.Configuration.Editor.csproj
/Unity.Services.Core.Configuration.csproj
/Unity.Services.Core.Analytics.Player.csproj
/Unity.Services.Core.Analytics.csproj
/Unity.Rider.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Performance.Profile-Analyzer.Editor.csproj
/Unity.EditorCoroutines.Editor.csproj
/Unity.CollabProxy.Editor.csproj
/Temp
/obj
/multiplayer_game.sln
/Logs
/Library
/Assembly-CSharp.Player.csproj
/Assembly-CSharp.csproj
/.vsconfig
/.vs
/Unity.ShaderGraph.Utilities.csproj
/Unity.ShaderGraph.Editor.csproj
/Unity.Searcher.Editor.csproj
/Unity.RenderPipelines.Universal.Shaders.Player.csproj
/Unity.RenderPipelines.Universal.Shaders.csproj
/Unity.RenderPipelines.Universal.Runtime.Player.csproj
/Unity.RenderPipelines.Universal.Runtime.csproj
/Unity.RenderPipelines.Universal.Editor.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Unity.RenderPipelines.Core.Runtime.Player.csproj
/Unity.RenderPipelines.Core.Runtime.csproj
/Unity.RenderPipelines.Core.Editor.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Unity.Postprocessing.Runtime.Player.csproj
/Unity.Postprocessing.Runtime.csproj
/Unity.Postprocessing.Editor.csproj
/Unity.Mathematics.Player.csproj
/Unity.Mathematics.Editor.csproj
/Unity.Mathematics.csproj
/Unity.Burst.Player.csproj
/Unity.Burst.Editor.csproj
/Unity.Burst.csproj
/Unity.Burst.CodeGen.csproj
/PPv2URPConverters.csproj
/PhotonUnityNetworking.Utilities.Player.csproj
/PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
/PhotonUnityNetworking.Utilities.Culling.Editor.csproj
/PhotonUnityNetworking.Utilities.csproj
/PhotonUnityNetworking.Player.csproj
/PhotonUnityNetworking.Editor.csproj
/PhotonUnityNetworking.csproj
/PhotonRealtime.Player.csproj
/PhotonRealtime.csproj
/PhotonChat.Player.csproj
/PhotonChat.csproj
/multiplayer-game.sln
/Assembly-CSharp-Editor.csproj
